*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(window_wall.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.taskbar{
    
    position: absolute;
    bottom: 0;
    display: flex;
    width: 1366px;
    
}

.win img{
    width:53px ;
}
.search img{
    width:376px ;
}
.edge img{
    width:154px ;
}
.crome img{
    width:377px ;
}
.right_icon {
    width:407px ;
}
.right_icon img{
    width:406px ;
}




.menu{
    bottom: -81px;
    position: absolute;
    /* bottom: 651px; */
    width: 100%;
    height: 610px;
    transition: all 0.3s ease-in;
}
.menu img{
    position: absolute;
    bottom: -521px;
    /* height: 501px; */
    height: 611px;
    width: 685px;
    transition: all 0.3s ease-in;
}
.win img:hover{
    /* background-color: blue; */
    opacity: 0.5;
}


